.Title {
    color: #C491AC;
    text-align: center;
    margin: 0 30px 15px 30px;
    font-size: 40px;
}


.TodoCounter {
    color: #C491AC;
    margin: 0;
    padding: 0 0 10px 40px;
    font-size: 25px;
}

@media (max-width: 560px) {
    .Title {
        font-size: 35px;
    }
}